node_modules
.env
google-credential.json
Sales
Engineering
Data Science
Retail
Education
Marketing & PR
Manufacturing and Distribution - Mechanics
Creative & Design

Industry
Tech
Client Services
Finance
Social Good
Social Media
Goverment
Engineering
Healthcare
Consulting
Real Estate & Construction
Media